
/*animating the SVGs */
 #rocketship{
   animation: animateX 5s infinite linear;
   transform-origin: bottom;
 }

 #hotairBalloon, #seaplane{
   animation: animateY 5s infinite linear;
   transform-origin: bottom;
   fill: black;
 }

 #starnight > path{
   animation: starColor 10s both;
 }

 #sky > path{
   animation: skyColor 7s linear infinite;
 }

  #sun2{
    animation: sunColor1 7s linear infinite;
  }

  #sun3{
    animation: sunColor2 7s linear infinite;
  }


 @keyframes animateX {
   0%{
     transform: rotateX(0deg);
   }
   50%{
     transform: rotateX(40deg);
   }
   100%{
     transform: rotateX(20deg);
   }
 }

 @keyframes animateY {
   0%{
     transform: rotateY(-10deg);
   }
   30%{
     transform: rotateY(20deg);
   }
   60%{
     transform: rotateY(30deg);
   }
   100%{
     transform: rotateY(-10deg);
   }
 }

 @keyframes starColor {
   0%,20% {fill: #F1F603}
   21%, 50% {fill: #FEFBB3}
   51%, 70% {fill: white}
   71%, 100% {fill: #FEFBB3}
 }

 @keyframes skyColor {
   0%,20% {fill: white}
   21%, 50% {fill: #F5C5DF}
   51%, 70% {fill: #FBA2D2}
   71%, 100% {fill: #F5C5DF}
 }

 @keyframes sunColor1 {
   0%,20% {fill: #F4BD6B}
   21%, 50% {fill: #FFB47E}
   51%, 70% {fill: #FB9449}
   71%, 100% {fill: #FFB47E}
 }

  @keyframes sunColor2 {
    0%,20% {fill: #EAB1D1}
    21%, 50% {fill: #FFA0A0}
    51%, 70% {fill: #FF8282}
    71%, 100% {fill: #FFA0A0}
  }
